.upperCase {
  text-transform: uppercase;
}

.display {
  display: inline;
}

.circle {
  border-radius: 50%;
}

.fileinput-filename {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    /* new lines */
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn-style {
  margin-bottom: 40px;
}

.btn-style-table {
  margin-bottom: 10px;
}

.btn-style-header {
  padding-right: .5rem;
  padding-left: .5rem;
  color: rgba(0, 0, 0, 0.5);
}

.class-padding-bottom {
  padding-bottom: .5rem;
}

.class-padding-top-information-show {
  padding-top: 1.5rem;
}

.comment-border-bottom {
  border-bottom: solid;
  border-width: 1px;
}

.paragraph-margin-bottom {
  margin-bottom: 0.05rem;
  word-break: break-all;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 60px;
}

.footer-height {
  height: 100%;
}

.vertical-center-footer {
  position: relative;
  top: 25%;
}

.paragraph-margin-top {
  margin-top: 0.05rem;
  word-break: break-all;
}

.not-display {
  display: none;
}

.margin-left {
  margin-left: 5%;
}

.app-name-margin-left {
  margin-left: 1%
}

.ula-background-color {
  background-color: #0033CC;
}

.letter-color {
  color: #FFF;
}

.custom-user-menu {
    align-items: center;
    -webkit-box-align: center;
    flex-grow: 1;
    -webkit-box-flex: 1;
    flex-basis: auto;
    display: flex !important;
}

@media only screen and (max-width: 480px) {
  .logo-image {
      display: none;
  }
}

@media only screen and (min-width: 480px) {
  .logo-image {
      display: inline;
  }
}

.separator {
  padding-top: 20px;
}

.post {
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0 0 1px #CCC;
}

.post .content {
    padding: 25px 30px 20px;
    height: 120px;
}

.post .post-img-content {
    height: 250px;
    position: relative;
}

.post .post-img-content img {
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.word-break-all {
  word-break: break-all;
}

.width-parent {
  overflow: auto;
  width: 100%;
}

.over-hidden {
  overflow: hidden;
}

.navbar-nav .dropdown-menu{
  position: absolute;
}
